
#wb_header { height: 80px; }
#wb_header > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
#wb_main { height: 880px; }
#wb_main > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
#wb_footer { height: 100px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
body { background: #ffffff none no-repeat scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 1200px; min-height: 1060px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1060px; overflow: visible; min-height: 1060px; }
#wb_element_instance25 { top: 13px; left: 630px; min-width: 554px; width: 554px; min-height: 56px; height: 56px; display: block; z-index: 478; }
#wb_element_instance25 > ul { display: block; }
#wb_element_instance25 ul { background: transparent none repeat left top; border: 0px solid #000000; }
#wb_element_instance25, #wb_element_instance25 ul { text-align: right; }
#wb_element_instance25 ul ul { background: #2e2e2e none repeat left top; }
#wb_element_instance25 li { margin: 10px 0px 10px 0px; }
#wb_element_instance25 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 12px 10px 12px; font: normal bold 14px 'Open Sans',Arial,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none repeat left top; }
#wb_element_instance25 li.over > a, #wb_element_instance25 li:focus > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',Arial,sans-serif; text-decoration: underline; color: #ffffff; line-height: 16px; background: transparent none repeat left top; }
#wb_element_instance25 li.active > a 
{   
    border: 0px none #000000;
    font: normal bold 14px 'Open Sans',Arial,sans-serif;
    text-decoration: none;
    color: #004b7d;
    line-height: 16px;
    background: #ffffff none repeat left top;
}
#wb_element_instance25:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance25:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance25:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance26 { top: 17px; left: 78px; min-width: 412px; width: 412px; min-height: 44px; height: 44px; display: block; z-index: 232; }
#wb_element_instance27 { top: 18px; left: 20px; min-width: 41px; width: 41px; min-height: 41px; height: 41px; display: block; z-index: 275; overflow: hidden; }
#wb_element_instance27 img { width: 40px; height: 40px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance28 { top: 0px; left: 0; right: 0; min-height: 80px; height: 80px; display: block; z-index: 196; }
#wb_element_instance28 > .wb_shp { background: #007cb5 none repeat scroll center center; background-size: cover; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 80px; }
#wb_element_instance29 { top: 26px; left: 20px; min-width: 280px; width: 280px; min-height: 24px; height: 24px; display: block; z-index: 279; }
#wb_element_instance30 i { width: 46px; height: 46px; font-size: 46px; }
#wb_element_instance30 { top: 26px; left: 1070px; min-width: 46px; width: 46px; min-height: 46px; height: 46px; display: block; z-index: 281; }
#wb_element_instance31 i { width: 46px; height: 46px; font-size: 46px; }
#wb_element_instance31 { top: 26px; left: 1134px; min-width: 46px; width: 46px; min-height: 46px; height: 46px; display: block; z-index: 282; }
#wb_element_instance32 { top: 350px; left: -4px; min-width: 1204px; width: 1204px; min-height: 530px; height: 530px; display: block; z-index: 83; }
#wb_element_instance32 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1204px; height: 530px; }
#wb_element_instance33 { top: 400px; left: 50px; min-width: 1099px; width: 1099px; min-height: 48px; height: 48px; display: block; z-index: 161; }
#wb_element_instance34 { top: 0px; left: 0; right: 0; min-height: 350px; height: 350px; display: block; z-index: 78; }
#wb_element_instance34 > .wb_shp { background: #d4d4d4 url("../gallery_gen/0c6e3f190cf98ae22c2bd0f3ef6a95d6.jpg") repeat fixed center center; background-size: cover; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 350px; }
#wb_element_instance35 { top: 900px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance36 { top: 92px; left: 0px; display: block; z-index: 9999; }

#wb_element_instance26 p:last-child { margin-bottom: 0; }
#wb_element_instance29 p:last-child { margin-bottom: 0; }
#wb_element_instance30 i { position: absolute; left: 0px; top: 0px; text-align: center; }
#wb_element_instance31 i { position: absolute; left: 0px; top: 0px; text-align: center; }
#wb_element_instance33 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
