#wb_element_instance0 
{ 
    top: 13px; 
    left: 630px; 
    min-width: 554px; 
    width: 554px; 
    min-height: 56px; 
    height: 56px; 
    display: block; 
    z-index: 478;
}
#wb_element_instance0 > ul 
{
    display: block;
}
#wb_element_instance0 ul 
{ 
    background: transparent none repeat left top; 
    border: 0px solid #000000;
}
#wb_element_instance0, #wb_element_instance0 ul 
{ 
    text-align: right; 
}
#wb_element_instance0 ul ul 
{ 
    background: #2e2e2e none repeat left top; 
}
#wb_element_instance0 li 
{ 
    margin: 10px 0px 10px 0px;
}
#wb_element_instance0 li a 
{ 
    text-transform: uppercase; 
    border: 0px none #000000; 
    padding: 10px 12px 10px 12px; 
    font: normal bold 14px 'Open Sans',Arial,sans-serif; 
    text-decoration: none; 
    color: #ffffff; 
    line-height: 16px; 
    background: transparent none repeat left top; 
}
#wb_element_instance0 li.over > a, #wb_element_instance0 li:active > a 
{
    border: 0px none #000000;
    font: normal bold 14px 'Open Sans',Arial,sans-serif;
    text-decoration: none;
    color: #ffffff;
    line-height: 16px;
    /*background: transparent none repeat left top;*/
    background-color:white;
    color:#007cb5;
}
#wb_element_instance0 li.over > a, #wb_element_instance0 li:target > a 
{
    border: 0px none #000000;
    font: normal bold 14px 'Open Sans',Arial,sans-serif;
    text-decoration: none;
    color: #ffffff;
    line-height: 16px;
    /*background: transparent none repeat left top;*/
    background-color:white;
    color:#007cb5;
}
#wb_element_instance0 li.active > a 
{   
    border: 0px none #000000;
    font: normal bold 14px 'Open Sans',Arial,sans-serif;
    text-decoration: none;
    color: #004b7d;
    line-height: 16px;
    /*background: #ffffff none repeat left top;*/ 
    background-color:white;
    color:#007cb5;
}
.active 
{   
    border: 0px none #000000;
    font: normal bold 14px 'Open Sans',Arial,sans-serif;
    text-decoration: none;
    color: #004b7d;
    line-height: 16px;
    /*background: #ffffff none repeat left top;*/
    background-color:yellow;
    color:#007cb5;
}
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left 
{ 
    left: auto; right: 100%;
}
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left 
{   
    left: auto; right: 0; 
}